01-github-pr-to-discord.json
{
  "name": "01 - GitHub PR → Discord Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook - GitHub PR Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "github-pr-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equal",
              "value2": "opened"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Filter - Only Opened PRs",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const pr = $input.item.json.body.pull_request;\nconst repo = $input.item.json.body.repository;\n\nreturn [{\n  json: {\n    title: pr.title,\n    number: pr.number,\n    author: pr.user.login,\n    author_url: pr.user.html_url,\n    author_avatar: pr.user.avatar_url,\n    pr_url: pr.html_url,\n    repo_name: repo.full_name,\n    repo_url: repo.html_url,\n    branch_from: pr.head.ref,\n    branch_to: pr.base.ref,\n    body: pr.body ? pr.body.substring(0, 200) : 'No description provided.',\n    additions: pr.additions || 0,\n    deletions: pr.deletions || 0,\n    changed_files: pr.changed_files || 0,\n    created_at: pr.created_at\n  }\n}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Format PR Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "",
        "embeds": {
          "values": [
            {
              "title": "=🔀 New Pull Request #{{ $json.number }}: {{ $json.title }}",
              "url": "={{ $json.pr_url }}",
              "color": 5814783,
              "description": "={{ $json.body }}",
              "author": {
                "name": "={{ $json.author }}",
                "url": "={{ $json.author_url }}",
                "iconUrl": "={{ $json.author_avatar }}"
              },
              "fields": {
                "values": [
                  {
                    "name": "Repository",
                    "value": "=[{{ $json.repo_name }}]({{ $json.repo_url }})",
                    "short": true
                  },
                  {
                    "name": "Branch",
                    "value": "`{{ $json.branch_from }}` → `{{ $json.branch_to }}`",
                    "short": true
                  },
                  {
                    "name": "Changes",
                    "value": "=+{{ $json.additions }} / -{{ $json.deletions }} across {{ $json.changed_files }} file(s)",
                    "short": false
                  }
                ]
              },
              "footer": {
                "text": "GitHub Pull Request"
              },
              "timestamp": true
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Discord - Send PR Embed",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, 240],
      "credentials": {
        "discordWebhookApi": {
          "id": "discord-webhook-cred",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Webhook - GitHub PR Event": {
      "main": [
        [
          {
            "node": "Filter - Only Opened PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only Opened PRs": {
      "main": [
        [
          {
            "node": "Format PR Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PR Data": {
      "main": [
        [
          {
            "node": "Discord - Send PR Embed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["github", "discord", "pr"]
}
