02-github-issues-to-sheets.json
{
  "name": "02 - GitHub Issues → Google Sheets Logger",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-issues",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook - GitHub Issue Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "github-issues-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equal",
              "value2": "opened"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Filter - Only New Issues",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const issue = $input.item.json.body.issue;\nconst repo = $input.item.json.body.repository;\n\nconst labels = issue.labels ? issue.labels.map(l => l.name).join(', ') : 'none';\nconst assignees = issue.assignees ? issue.assignees.map(a => a.login).join(', ') : 'unassigned';\n\nreturn [{\n  json: {\n    issue_number: issue.number,\n    title: issue.title,\n    author: issue.user.login,\n    body: issue.body ? issue.body.substring(0, 500) : '',\n    labels: labels,\n    assignees: assignees,\n    state: issue.state,\n    url: issue.html_url,\n    repo: repo.full_name,\n    created_at: new Date(issue.created_at).toLocaleString(),\n    updated_at: new Date(issue.updated_at).toLocaleString()\n  }\n}];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Format Issue Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Issues",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Issue #": "={{ $json.issue_number }}",
            "Title": "={{ $json.title }}",
            "Author": "={{ $json.author }}",
            "Labels": "={{ $json.labels }}",
            "Assignees": "={{ $json.assignees }}",
            "State": "={{ $json.state }}",
            "URL": "={{ $json.url }}",
            "Repository": "={{ $json.repo }}",
            "Created At": "={{ $json.created_at }}",
            "Description": "={{ $json.body }}"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Google Sheets - Log Issue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 240],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=📋 **Issue #{{ $json.issue_number }}** logged to spreadsheet\n**{{ $json.title }}**\nby `{{ $json.author }}` in `{{ $json.repo }}`\n🔗 {{ $json.url }}"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Discord - Confirm Logged",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1120, 240],
      "credentials": {
        "discordWebhookApi": {
          "id": "discord-webhook-cred",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Webhook - GitHub Issue Event": {
      "main": [
        [
          {
            "node": "Filter - Only New Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only New Issues": {
      "main": [
        [
          {
            "node": "Format Issue Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Issue Data": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Issue": {
      "main": [
        [
          {
            "node": "Discord - Confirm Logged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["github", "sheets", "issues"]
}
