03-github-release-to-gmail.json
{
  "name": "03 - GitHub Release → Gmail Announcement",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-release",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Webhook - GitHub Release Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "github-release-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "operation": "equal",
              "value2": "published"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Filter - Only Published Releases",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const release = $input.item.json.body.release;\nconst repo = $input.item.json.body.repository;\n\n// Convert markdown-style notes to basic HTML\nconst notes = release.body || 'No release notes provided.';\nconst notesHtml = notes\n  .replace(/## (.*)/g, '<h2>$1</h2>')\n  .replace(/### (.*)/g, '<h3>$1</h3>')\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/- (.*)/g, '<li>$1</li>')\n  .replace(/\\n/g, '<br>');\n\nreturn [{\n  json: {\n    tag: release.tag_name,\n    name: release.name || release.tag_name,\n    author: release.author.login,\n    url: release.html_url,\n    repo_name: repo.full_name,\n    repo_url: repo.html_url,\n    is_prerelease: release.prerelease,\n    notes_raw: notes,\n    notes_html: notesHtml,\n    published_at: new Date(release.published_at).toDateString(),\n    subject: `🚀 ${repo.name} ${release.tag_name} Released`\n  }\n}];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Format Release Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@gmail.com",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <div style=\"background: #24292e; padding: 20px; border-radius: 8px 8px 0 0;\">\n    <h1 style=\"color: white; margin: 0;\">🚀 {{ $json.name }}</h1>\n    <p style=\"color: #8b949e; margin: 5px 0 0;\">{{ $json.repo_name }} · {{ $json.published_at }}</p>\n  </div>\n  <div style=\"background: #f6f8fa; padding: 20px; border-radius: 0 0 8px 8px; border: 1px solid #e1e4e8;\">\n    <p><strong>Tag:</strong> <code>{{ $json.tag }}</code></p>\n    <p><strong>Published by:</strong> {{ $json.author }}</p>\n    {{ $json.is_prerelease ? '<p style=\"color: #e36209;\"><strong>⚠️ Pre-release</strong></p>' : '' }}\n    <hr style=\"border: 1px solid #e1e4e8;\">\n    <h2>Release Notes</h2>\n    {{ $json.notes_html }}\n    <hr style=\"border: 1px solid #e1e4e8;\">\n    <p><a href=\"{{ $json.url }}\" style=\"background: #0366d6; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;\">View Release on GitHub</a></p>\n  </div>\n</div>",
        "options": {}
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Gmail - Send Release Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 240],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚀 **{{ $json.name }}** just dropped!\n`{{ $json.tag }}` · {{ $json.repo_name }}\n📧 Release email sent\n🔗 {{ $json.url }}"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Discord - Announce Release",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1120, 240],
      "credentials": {
        "discordWebhookApi": {
          "id": "discord-webhook-cred",
          "name": "Discord Webhook"
        }
      }
    }
  ],
  "connections": {
    "Webhook - GitHub Release Event": {
      "main": [
        [
          {
            "node": "Filter - Only Published Releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Only Published Releases": {
      "main": [
        [
          {
            "node": "Format Release Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Release Data": {
      "main": [
        [
          {
            "node": "Gmail - Send Release Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Release Email": {
      "main": [
        [
          {
            "node": "Discord - Announce Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["github", "gmail", "release"]
}
